@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num-experience {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-users {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-score {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-projects {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}


